*{
    
    color:#0A3765;
    font-family: 'Oswald', sans-serif;
}

div{
    text-align: center;
    color:#0A3765;
}

img{
    display: block;
    margin: 0 auto;
    opacity: 100%;
}

div{
    height:100px ;
    width: 730px;
    text-align: justify;
    margin-left: 26%;

}

h4,h1{
    text-align: center;
    color: red;
}

form{
    text-align: center;
}